@import "colors.less";

.syntax--entity.syntax--name.syntax--directive {
  color: @red;

  .syntax--expression {
    color: @green;
  }

  .syntax--parameter {
    color: @orange;
  }

  .syntax--operator {
    color: @cyan;
  }
}
